* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(to right, #212529, #ced4da);
}

#container {
  border: 2px solid #ccc;
  width: 360px;
  margin: 50px auto;
}

.completed {
  color: gray;
  text-decoration: line-through;
}

span {
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
}

ul {
  list-style: none;
}
h1 {
  padding: 10px 5px;
  background-color: #0081a7;
  color: white;
}

input {
  width: 100%;
  box-sizing: border-box;
  font-size: 18px;
  padding: 10px 5px;
}

input:focus {
  outline: none;
}

#plus {
  float: right;
  margin-right: 30px;
}

li {
  font-size: 18px;
  padding: 10px 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: #e9c46a;
}
