section {
  width: 80vw;
  height: 600px;
  margin: 30px auto;
  border: 1px solid black;
  background-color: cornflowerblue;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* flex-wrap: wrap; */
  align-items: flex-start;
  /* align-content: space-around; */
}

h1 {
  text-align: center;
}

div {
  border: 2px solid black;
  height: 150px;
  width: 150px;
  font-size: 2.5rem;
}

div:nth-of-type(1) {
  flex-basis: 150px;
  flex-grow: 2;
}

div:nth-of-type(5) {
  /* flex-basis: 350px; */
  /* flex-grow: 1;
  flex-shrink: 2; */
  flex: 1 3 150px;
}

/* div:nth-of-type(3) {
  align-self: flex-end;
} */
