<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Get & Post Req</h1>

    <h2>GET</h2>

    <form action="/user" method="get">

        <input type="text" name="username">
        <input type="number" name="age">

        <button>Submit</button>

    </form>

    <h2>POST</h2>

    <form action="/user" method="post">

        <input type="text" name="username">
        <input type="number" name="age">

        <button>Submit</button>
    </form>


    
</body>
</html>