<nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #0077b6;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/products"><i class="fas fa-shopping-basket" style="margin-right: 10px;font-size: 1.7rem;"></i>Shopping Cart</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/products">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/products/new" tabindex="-1" aria-disabled="true">New</a>
          </li>
        </ul>
        <div class="navbar-nav ml-auto">

            <%if(!currentUser){%>
              <a href="/login" class="nav-link active">Login</a>
            
              <%}else{%>
            <a href="#" class="nav-link active text-capitalize">Hello <%=currentUser.username%></a>
            <a href="/user/<%=currentUser._id%>/cart" class="nav-link active"><i class="fas fa-shopping-cart"></i> 
              <sup><span class="badge bg-danger"><%=currentUser.cart.length%></span></sup> 
            </a>
            <a href="/logout" class="nav-link active">Logout</a>
          <%}%>
        </div>
        
      </div>
    </div>
  </nav>