<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div>
        <fieldset>
            <legend>Edit Product</legend>
        <form action="/products/<%=product._id%>?_method=PATCH" method="POST">
            <input type="number" name="price" id="" placeholder="Price" value="<%=product.price%>">
            <br>
            <br>
            
            <textarea name="desc" id="" cols="30" rows="5"><%=product.desc%></textarea>
            <br>
            <br>
            
            <button>Update!!</button>
        </form>
    </fieldset>
    </div>


    
</body>
</html>