<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div>
        <fieldset>
            <legend>Add New Products</legend>
        <form action="/products" method="POST">
            <input type="text" name="name" placeholder="Product Name">
            <br>
            <br>
            <br>
            <input type="number" name="price" id="" placeholder="Price">
            <br>
            <br>
            
            <textarea name="desc" id="" cols="30" rows="5"></textarea>
            <br>
            <br>
            
            <button>Save</button>
        </form>
    </fieldset>
    </div>


    
</body>
</html>