article {
  background-color: aqua;
  width: 80vw;
  border: 1px solid #ccc;
  margin: 30px auto;
  padding: 20px;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  /* font-style: italic; */
  /* font-weight: bolder; */
  line-height: 1.2;
  letter-spacing: 0.05em;
  /* font: lighter 1.5rem/1.3 Arial, Helvetica, sans-serif; */
}

h1 {
  font-size: 3.5rem;
  text-align: center;
  /* text-shadow: 3px 4px 4px red, 5px 6px 3px blue, 7px 9px 2px yellowgreen; */

  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}
