h1 {
  border: 2px solid black;
  background-color: cyan;
  display: inline;
  width: 500px;
  height: 600px;
  /* margin: 30px;
  padding: 40px; */
}

span {
  border: 2px solid black;
  background-color: palevioletred;
  display: block;
  width: 500px;
  height: 100px;
  margin: 40px;
  padding: 30px;
}

div {
  border: 2px solid black;
  background-color: palegreen;
  height: 100px;
  width: 100px;
  display: inline-block;
  margin: 30px;
  padding: 40px;
}

div:nth-of-type(2) {
  /* display: none; */
  visibility: hidden;
}
