body {
  background-color: cyan;
}

h1 {
  font-size: 6.5rem;
  color: #e9ecef;
  text-align: center;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);

  transition: all 2s;
}

h1:hover {
  /* transform: translateX(-300px); */
  /* transform: translateY(-100px); */
  /* transform: rotateX(180deg); */
  /* transform: rotateY(180deg); */
  transform: rotateZ(180deg);
  /* transform: translate(220px, 50%); */
  /* transform: scaleX(2);
  transform: scaleY(2); */
  /* transform: scale(0.5); */
  /* transform: skew(40deg); */

  cursor: pointer;
}
