<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <h1>This is {{subredit}} Subreditt</h1>

    <ul>
        {{#each arr as |x|}}
        <li>{{x}}</li>
        {{/each}}
    </ul>


    <h3>This is HBS</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam molestiae tenetur eveniet sint, libero enim natus
        autem inventore nesciunt expedita incidunt, dolorem mollitia quos nobis id placeat quaerat deleniti quae.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam molestiae tenetur eveniet sint, libero enim natus
        autem inventore nesciunt expedita incidunt, dolorem mollitia quos nobis id placeat quaerat deleniti quae.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam molestiae tenetur eveniet sint, libero enim natus
        autem inventore nesciunt expedita incidunt, dolorem mollitia quos nobis id placeat quaerat deleniti quae.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam molestiae tenetur eveniet sint, libero enim natus
        autem inventore nesciunt expedita incidunt, dolorem mollitia quos nobis id placeat quaerat deleniti quae.</p>

</body>

</html>