* {
  margin: 0;
  padding: 0;
}

section {
  width: 360px;
  border: 2px solid #ccc;
  margin: 50px auto;
}

ul {
  list-style: none;
}

li {
  border: 1px solid gray;
  padding: 5px;
  cursor: pointer;
}
