* {
  margin: 0;
  padding: 0;
}

.container {
  width: 75vw;

  margin: 50px auto;
  display: grid;
  /* grid-template-columns: 250px 250px 250px; */
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-columns: minmax(250px, auto);
  /* row-gap: 20px;
  column-gap: 20px; */
  grid-auto-rows: minmax(250px, auto);
  gap: 20px;
}

nav {
  display: flex;
  background-color: #343a40;
  height: 60px;
  font-size: 2.2rem;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

i {
  margin-right: 20px;
}

ul {
  list-style: none;
}

div {
  border-radius: 12px;
}

div img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  transition: 0.3s;
}

.container div:hover img {
  opacity: 0.35;
  cursor: pointer;
  filter: grayscale(100%);
}

li:first-child {
  margin-left: 70px;
}

.container div {
  position: relative;
}

div i {
  position: absolute;
  left: 45%;
  top: 45%;
  font-size: 1.5rem;
  transition: 0.3s;
  transform: scale(0);
  transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
}

.container div:hover i {
  transform: scale(2);
}

section {
  width: 75vw;
  margin: 30px auto;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f9fa;
  height: 100px;
  padding: 10px;
}

section h1 {
  font-size: 2rem;
  color: #3d5a80;
}

section p {
  font-size: 1.2rem;
}
