.products {
  margin: 5px auto;
}
.products .card img {
  padding: 15px;
  height: 220px;
}

.products .card {
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  margin: 5px auto;
  width: 90%;
  height: 95%;
}

#heading {
  width: 98%;
  background-color: #e9ecef;
  padding: 16px;
  margin: 10px auto;
  border-radius: 10px;
}

.navbar-brand {
  font-family: "Orbitron", sans-serif;
  letter-spacing: 0.1em;
}

@media (max-width: 375px) {
  .card {
    width: 21rem;
  }
}

@media (min-width: 375px) {
  .card {
    width: 27rem;
  }
}
