* {
  margin: 0px;
  padding: 0px;
}

.hero {
  height: 100vh;
  width: 100%;
  background-image: url("./Assets/sky.jpg");
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
}

.highway {
  position: absolute;
  height: 200px;
  width: 500%;
  background-image: url("./Assets/road.jpg");
  bottom: 0px;
  background-repeat: repeat-x;
  animation: highway 1s linear infinite;
}

@keyframes highway {
  100% {
    transform: translateX(-3400px);
  }
}

.city {
  position: absolute;
  height: 250px;
  width: 500%;
  bottom: 200px;
  background-image: url("./Assets/city.png");
  animation: city 20s linear infinite;
}

@keyframes city {
  100% {
    transform: translateX(-1400px);
  }
}

.car {
  width: 400px;
  position: absolute;
  left: 35%;
  bottom: 70px;
  animation: car 0.5s alternate infinite;
}

.car img {
  width: 100%;
}

@keyframes car {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(2px);
  }
}

.wheel {
  position: absolute;
  left: 20%;
  bottom: 100px;
  z-index: 3;
}

.wheel img {
  width: 68px;
  height: 68px;
  animation: wheel 0.2s linear infinite;
}

.front-wheel {
  position: absolute;
  left: 473px;
  bottom: 0px;
}

.back-wheel {
  position: absolute;
  left: 280px;
  bottom: 0px;
}

@keyframes wheel {
  100% {
    transform: rotate(360deg);
  }
}
