<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <h1>SSR</h1>

    <form action="/todo" method="POST">
        <input type="text" name="todo">
        <button>Add Todo</button>
    </form>


    <ul>
    <%for(let item of todos){%>
        <li><%= item %></li>
    <%}%>
    </ul>
    
</body>
</html>