div {
  height: 40px;
  width: 80vw;
  background-color: cyan;
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px;
  animation: 3s loader 2 alternate;
}

@keyframes loader {
  from {
    width: 10px;
  }
  to {
    width: 80vw;
  }
}

div:nth-of-type(1) {
  animation-timing-function: ease-in;
}
div:nth-of-type(2) {
  animation-timing-function: ease-out;
}

div:nth-of-type(3) {
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

div:nth-of-type(4) {
  animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
